<div class="subscriptions-card">
  <h3 class="title">Subscriptions</h3>
  <button mat-raised-button color="primary" (click)="openAddDialog()">
    <mat-icon>add</mat-icon> Add Subscription
  </button>
  <h4 *ngIf="!subscriptions || subscriptions.length === 0">No subscriptions</h4>
  <table
    *ngIf="!loading && subscriptions"
    class="subscriptions-table"
    aria-describedby="subscriptions-description"
  >
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of subscriptions; let i = index">
        <td>{{ s.targetType }}</td>
        <td>{{ s.targetName }}</td>
        <td>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteSubscription(s.id)"
            aria-label="Delete subscription {{ s.targetName }}"
            title="Delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
