html, body {
  height: 100%;
  font-family: 'Roboto', serif !important;
  color:#231212;
  background-color: #f7f7f7;
  margin: 0;
}
h1, h2{
  font-family: 'Roboto', serif !important;
  font-weight: 500 !important;
  color:#231212
}

html, body {
  height: 100%;
  background-color: #f7f7f7;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }