<div class="artist-list-container">
  <h2>Artists</h2>
  <button mat-raised-button color="primary" (click)="openCreateModal()">Add Artist</button>
  <table mat-table [dataSource]="artists" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let artist">{{ artist.name }}</td>
    </ng-container>
    <ng-container matColumnDef="biography">
      <th mat-header-cell *matHeaderCellDef>Biography</th>
      <td mat-cell *matCellDef="let artist">{{ artist.biography }}</td>
    </ng-container>
    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef>Genres</th>
      <td mat-cell *matCellDef="let artist">
        <span *ngFor="let genre of artist.genres; let last = last">
          {{ genre }}<span *ngIf="!last">, </span>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let artist">
        <button mat-icon-button color="accent" (click)="openEditModal(artist)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteArtist(artist)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'biography', 'genres', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'biography', 'genres', 'actions']"></tr>
  </table>
</div>
