<div class="outer-container">
  <div class="register-container">
    <form [formGroup]="registerForm" class="elegant-form">
      <div class="form-header">
        <h1>Register</h1>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Enter username" />
        <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter email" />
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter password" />
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
          Password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm password"
        />
        <mat-error
          *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched"
        >
          Passwords do not match.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="givenName" placeholder="Enter first name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="familyName" placeholder="Enter last name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birthdate</mat-label>
        <input matInput type="date" formControlName="birthdate" />
      </mat-form-field>

      <div *ngIf="registerError" class="server-error">
        {{ registerError }}
      </div>

      <button
        mat-flat-button
        class="submit-btn"
        type="submit"
        [disabled]="!registerForm.valid"
        (click)="onSubmit()"
      >
        {{ loading ? 'Registering...' : 'Register' }}
      </button>
    </form>
  </div>
</div>
